<div class="table-container">
  <div class="table-header">
    <button class="btn btn-add">Dodaj</button>
    <button class="btn btn-delete">Usuń</button>
  </div>
  <table class="class-panel">
    <thead>
    <tr>
      <th style="width: 20%;">Name</th>
      <th style="width: 20%;">Teacher</th>
      <th style="width: 100%;">Students amount</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let class of classes">
      <td>{{ class.schoolClassName }}</td>
      <td>{{ class.teacher.name.concat(' ').concat(class.teacher.lastName) }}</td>
      <td>{{ class.students.length }}</td>
    </tr>
    </tbody>
  </table>
</div>
