:host {
  display: flex;
  flex-grow: 1
}

.table-container {
  width: 100%;
  padding: 10px;
  font-family: Arial, sans-serif;
}

.table-header {
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  background-color: #8a2be2;
  padding: 10px;
}

.btn {
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
  background-color: #6a0dad;
  color: white;
  border: none;
  border-radius: 3px;
}

.btn:hover {
  background-color: #5d0090;
}

.subject-table {
  width: 100%;
  border-collapse: collapse;
}

.subject-table th, .subject-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.subject-table th {
  background-color: #f0f0f0;
}

.subject-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.subject-table tr:hover {
  background-color: #ddd;
}
