.menu_2 {
  background-color: #8a2be2; /* Fioletowe tło */
  color: white; /* Biały tekst */
  width: 250px; /* Szerokość menu */
  height: calc(100vh - 60px); /* Wysokość dostosowana do paska nawigacyjnego */
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px; /* Zaokrąglone rogi */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Delikatny cień */
  display: flex;
  flex-direction: column;
}

.menu_2 ul {
  list-style-type: none; /* Usunięcie punktorów listy */
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.menu-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #6a0dad; /* Lekko ciemniejszy fiolet */
}

.menu-item:hover {
  border-radius: 10px;
  background-color: #6a0dad; /* Efekt hover z ciemniejszym fioletowym kolorem */
}

.submenu {
  display: none; /* Ukrycie submenu domyślnie */
  padding-left: 20px;
}

.submenu a {
  color: white;
  text-decoration: none; /* Usunięcie podkreślenia linków */
  display: block; /* Linki zajmują całą dostępną szerokość */
  padding: 5px 20px;
}

.submenu a:hover {
  text-decoration: underline; /* Podkreślenie linków przy hover */
}

.menu-item:hover .submenu {
  display: block; /* Wyświetlanie submenu po najechaniu na menu-item */
}
