<div class="menu_2">
  <ul>
    <li class="menu-item">
      Osoby
      <ul class="submenu">
        <li><a routerLink="teachers">Teachers</a></li>
        <li><a routerLink="students">Students</a></li>
      </ul>
    </li>
    <li class="menu-item">
      Struktury
      <ul class="submenu">
        <li><a routerLink="classes">Classes</a></li>
      </ul>
    </li>
    <li class="menu-item">
      Wartości
      <ul class="submenu">
        <li><a routerLink="subjects">Subjects</a></li>
      </ul>
    </li>
  </ul>
</div>
