<div class="menu_2">
  <ul>
    <li class="menu-item">
      People
      <ul class="submenu">
        <li><a routerLink="teachers">Teachers</a></li>
        <li><a routerLink="students">Students</a></li>
      </ul>
    </li>
    <li class="menu-item">
      Structures
      <ul class="submenu">
        <li><a routerLink="classes">Classes</a></li>
      </ul>
    </li>
    <li class="menu-item">
      Values
      <ul class="submenu">
        <li><a routerLink="subjects">Subjects</a></li>
      </ul>
    </li>
  </ul>
</div>
